Package: com.apple.sanfrancisco
Name: San Francisco
Version: 1.0.0
Architecture: iphoneos-arm
Description: The  Watch font.
Depends: com.bytafont.bytafont2
Depiction: https://cydia.syrexide.com/depiction/com.apple.sanfrancisco/
Homepage: https://apple.com
Maintainer: Syrexide <me@syrexide.com>
Author: Apple Inc.
Section: Fonts
