@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../font/Roboto-Thin.woff) format('woff');
}
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
#popup {
    width: 100%;
    height: 100%;
}
#wrapper {
    position: fixed;
    width: 100%;
    height: 50%;
    bottom: 0px;
}
#bg {
    width: 100%;
    height: 100%;
    z-index: -9999;
    position: absolute;
}
#time {
    margin: 20 0 0 15;
    color: white;
    font-size: 18vw;
}
#date {
    color: white;
    margin: 0 0 0 20;
    font-size: 5vw;
}
#swipe {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
hr {
    border-style: none;
    background-color: white;
    width: 90%;
    height: .3vw;
}
#swipetext {
    text-align: center;
    color: white;
    font-size: 4vw;
}
#ampm {
    color: white;
    float: right;
    position: absolute;
    font-size: 6vw;
    top: 8vw;
    left: 50vw;
}
#weather {
    color: white;
    font-size: 16vw;
    float: right;
    position: relative;
    right: 4vw;
    bottom: 25vw;
}
#battpercent {
    color: white;
    margin: 0 0 0 50;
    font-size: 5vw;
    bottom: 15vw;
    position: absolute;
}
#batticon {
    color: white;
    font-size: 9vw;
    transform: rotate(270deg);
    position: absolute;
    bottom: 14vw;
    left: 4vw;
}
.blur {
    -webkit-filter: blur(20px);
}
